

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
 /*type and headlines*/

 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

h1, h2, h3{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  letter-spacing: -1px;
  }

h1{font-size: 1.4em;}
h2{font-size: 2.5em;}
h3{font-size: 1.5em;}
h4{font-size: 1.3em; margin:0 0 10px;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{color:#E63946;}

.deliniator{font-weight: bold; font-size:4em; padding:0; margin:0; position: relative; top:-30px; color:#999; display: block; height:40px;}

#main-content{
  clear: both;
  margin:100px auto 0;
  background-color: #ececec;
  padding:0 8% 8%;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.homelink{
  margin:24px 36px;
  display: block;
  float:left;
  text-decoration: none;
}

.homelink h1{
  display: inline;
}

h5.subhead{background-color:#d2d2d2; padding:3px 10px; text-transform: uppercase; display: inline;}
