#navigation-bar{
  display:flex;
  flex-wrap: nowrap;
  flex-basis:auto;
  list-style: none;
  margin-right:36px;
  float:right;
}

#navigation-bar li{
  margin:10px;

}
#navigation-bar a{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4em;
}
#navigation-bar a:hover{
  text-decoration: underline;
}
